:root{
    --color-primero:#019267;
    --color-segundo:#00c897;
    --color-tercero:#cd1818d8;
    --color-cuarto:#f3930d;
    --color-quinto:#f4e185;
    --color-jugador1:red;
    --color-jugador2:blue;
    --color-sexto:#000000;
}